<div
  class="relative flex size-full min-h-screen flex-col bg-white justify-between group/design-root overflow-x-hidden"
  style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
>
  <div>
    <div class="flex items-center bg-white p-4 pb-2 justify-between">
      <div class="text-[#131615] flex size-12 shrink-0 items-center" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
        </svg>
      </div>
      <h2 class="text-[#131615] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pr-12">Esmeraldas</h2>
    </div>
    <h2 class="text-[#131615] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Próximos Eventos</h2>
    <div class="p-4">
      <div class="flex items-stretch justify-between gap-4 rounded-xl">
        <div class="flex flex-col gap-1 flex-[2_2_0px]">
          <p class="text-[#6b8079] text-sm font-normal leading-normal">12 de Julio</p>
          <p class="text-[#131615] text-base font-bold leading-tight">Festival de la Marimba</p>
          <p class="text-[#6b8079] text-sm font-normal leading-normal">Celebra la música y danza afroecuatoriana con presentaciones en vivo, talleres y gastronomía local.</p>
        </div>
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCxMp53kU9GGcfBErxCRl0u_0KRyx5NeMGkGcTzRSNYwmB6pnSFfRP-YbbNqUaqREj1ZxnZyBnQ8h90w0_l0Jxlv4xocDa-Sz6im5wz3Vn_JvlNQ3ybWJn2RNPuf1fseuoLDmOJtDnHHEfk01mZ0_ialaLr1IcQsdQUcDBpE_gkRPiHJohqy9YooHiwDd3nA4I4zKF6OELQR3G9E4dPm5hqTwkfaCvwQLL11BnhGPodEBK4eo4sdzjZFjsTW13ldfxIgtUVPGd6Sx2h");'
        ></div>
      </div>
    </div>
    <div class="p-4">
      <div class="flex items-stretch justify-between gap-4 rounded-xl">
        <div class="flex flex-col gap-1 flex-[2_2_0px]">
          <p class="text-[#6b8079] text-sm font-normal leading-normal">20 de Julio</p>
          <p class="text-[#131615] text-base font-bold leading-tight">Feria Artesanal de Esmeraldas</p>
          <p class="text-[#6b8079] text-sm font-normal leading-normal">
            Descubre la artesanía local, desde tejidos y cerámica hasta esculturas y joyas, en esta feria llena de color y tradición.
          </p>
        </div>
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDPVSQNyeWYE6DHYFs6pGbKuEWyvgKUlSwlq_V7oBcdCqVdS0Vk1yHSu6LlqNEJlIwaFtrH0oEKMu0eIpcQxhuVp0XgcjScIwlcOT5pOKQY17XGWuM95tVvKPkM0yc_QASaTK6SifKxMArse-2tr17X4RdxY8UiXq7F6wNW9LWerJ_-ZQ1oTvkn3owMMy3jHHzWVjVMmVuvlwC7IZzbJ9Tsuh4KokGi_ODxCuE1S3OcCJNoyrZxc9Tz1qiPdLz0AxUpQ-88Vh56LyOG");'
        ></div>
      </div>
    </div>
    <h2 class="text-[#131615] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Noticias Recientes</h2>
    <div class="flex items-center gap-4 bg-white px-4 py-3">
      <div
        class="bg-center bg-no-repeat aspect-video bg-cover rounded-lg h-14 w-fit"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD05zUWv0TJczla5VB02i-R8GD_2B_vkT129ck_B2w31yOuxU8dxef6T3-G0iEMj_M4T0jf92A_TdlpNSJgO5fnB4tXR5fps14lw55WojErOLtOa6QGbNJAfP261ARw9-d-iIxBcv0_q3TrlQavBmlxpX-Ihhri7vIpQT7lYuHHA-bFC0owiBnTzcUDlKC8X6Mn_k6djfUu4g9Xm87NCRqgPIbMAmsgwO2qQ6bKwx5qZ6be9WBN4el8Eg98hH2nTJNSbxz0X2XnzaGl");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-[#131615] text-base font-medium leading-normal line-clamp-1">Esmeraldas invierte en infraestructura turística</p>
        <p class="text-[#6b8079] text-sm font-normal leading-normal line-clamp-2">10 de Julio</p>
      </div>
    </div>
    <div class="flex items-center gap-4 bg-white px-4 py-3">
      <div
        class="bg-center bg-no-repeat aspect-video bg-cover rounded-lg h-14 w-fit"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD_73Z5iTyurKZ69Iv93DiKjPLC7xeZwUW9PcPX5EmwPvoXBZvB_p_1Q0crUdGIGo-cDdIlVAOP8WeU_0v0b1sOJZB-4lFWVeSTg3nrtYbgkk2XEtWhR_sNUc-fnT1_dBIeBvpimmgYe4tBJvdzLwsXX65pd5pWiAoq_A7MJPhtmo3IvhPwGzGBSQ5XR9m10wPlvolVQA7l7iwTOKnB-C-cM7i3bjlzcbIoWn6BanXIGJBkFp6qAj8u_eOm9seMg-CveZw_qnzSgLBL");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-[#131615] text-base font-medium leading-normal line-clamp-1">Nuevas rutas de senderismo en la Reserva Ecológica Mache-Chindul</p>
        <p class="text-[#6b8079] text-sm font-normal leading-normal line-clamp-2">9 de Julio</p>
      </div>
    </div>
  </div>
  <app-menu-inferior></app-menu-inferior>
</div> 