<div
  class="relative flex size-full min-h-screen flex-col bg-white justify-between group/design-root overflow-x-hidden"
  style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
>
  <div>
    <div class="flex items-center bg-white p-4 pb-2 justify-between">
      <div class="text-[#131615] flex size-12 shrink-0 items-center" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
        </svg>
      </div>
      <h2 class="text-[#131615] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pr-12">Cultura y Gastronomía</h2>
    </div>
    <h2 class="text-[#131615] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Cultura</h2>
    <div class="p-4 @container">
      <div class="flex flex-col items-stretch justify-start rounded-xl @xl:flex-row @xl:items-start">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCuQU7M2PnFbHEvIBaQgVlMNrf7mI6mg1u7ehzudztwYdG58yNstqT6G9GrWMIX3y-BbnqwSBBHRw24rmRdiMzMBccYJmhBpW0GiZvQYLSqfCDAPFeQvUA6BOgqiYFpND3jL7fkP00KAa0H6yTukWQk5hQrUzmf9GIH3NYcI_w8lPZLzf1GkIq9Goa4osE318GPu0DTWYvujGtwYOqOFVL4sR6uaIA5n7QxMHAx2yBqW3hXo21Iho05oPG9VFHI9-PxwRiui6-snqq7");'
        ></div>
        <div class="flex w-full min-w-72 grow flex-col items-stretch justify-center gap-1 py-4 @xl:px-4">
          <p class="text-[#131615] text-lg font-bold leading-tight tracking-[-0.015em]">Cultura de Esmeraldas</p>
          <div class="flex items-end gap-3 justify-between">
            <p class="text-[#6b8079] text-base font-normal leading-normal">
              Explora la vibrante cultura de Esmeraldas, desde su música y danzas hasta su historia y tradiciones afroecuatorianas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div class="text-[#131615]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M210.3,56.34l-80-24A8,8,0,0,0,120,40V148.26A48,48,0,1,0,136,184V98.75l69.7,20.91A8,8,0,0,0,216,112V64A8,8,0,0,0,210.3,56.34ZM88,216a32,32,0,1,1,32-32A32,32,0,0,1,88,216ZM200,101.25l-64-19.2V50.75L200,70Z"/>
          </svg>
        </div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Música de Marimba</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div class="text-[#131615]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"/>
          </svg>
        </div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Danza Afroecuatoriana</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div class="text-[#131615]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"/>
          </svg>
        </div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Sitios Históricos</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div class="text-[#131615]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
            <path d="M224,48H160a40,40,0,0,0-32,16A40,40,0,0,0,96,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H96a24,24,0,0,1,24,24,8,8,0,0,0,16,0,24,24,0,0,1,24-24h64a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48ZM96,192H32V64H96a24,24,0,0,1,24,24V200A39.81,39.81,0,0,0,96,192Zm128,0H160a39.81,39.81,0,0,0-24,8V88a24,24,0,0,1,24-24h64Z"/>
          </svg>
        </div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Tradiciones Locales</h2>
      </div>
    </div>
    <h2 class="text-[#131615] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Gastronomía</h2>
    <div class="p-4 @container">
      <div class="flex flex-col items-stretch justify-start rounded-xl @xl:flex-row @xl:items-start">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCKuX6YyOvPiRYUSvVYAaDZolD8hTHssGhEWL8oq7FOnMw1AF4JorrgfDDuXZOZdUf-AA9XCeGkBAO3-NOtbedbiCpXo4NxDGaPQlaES6N2egMzObYiqKR3lAexlrptW9ddzpDsR-aKDj9daHVQN22D4TtUTPKByCl-VwZEI4EHcTQATzOmORVJw4rtStIwjOraYZf0MY86qOnbj0anIH1Ojj0CHbqUmHJE9nivngJASljFVjju5bfYBNP_nzRD8N-uF9OFRLCfD8jq");'
        ></div>
        <div class="flex w-full min-w-72 grow flex-col items-stretch justify-center gap-1 py-4 @xl:px-4">
          <p class="text-[#131615] text-lg font-bold leading-tight tracking-[-0.015em]">Gastronomía de Esmeraldas</p>
          <div class="flex items-end gap-3 justify-between">
            <p class="text-[#6b8079] text-base font-normal leading-normal">
              Disfruta los sabores únicos de Esmeraldas, donde los mariscos frescos y especias exóticas crean experiencias culinarias inolvidables.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg w-10 shrink-0"
          style='background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/17/57/12/58/encocado-de-pescado.jpg");'
        ></div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Encocado</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg w-10 shrink-0"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAeI2_GhqVchrb9cRLbHS7m-Cyv9isjoFreeWNytlf9LCwUZV1GS5Z2KHy9hV4sYHNyJWPEt7ELO_0-ErXn1Hh6KdPyer6Eygq2gclksKgh74HdxhX-6SYtOrYTn4a1gUwuCPlUbz3SVneBD5zoHpQORlVE62l3Qz7pd9pZRRP8XpoHYLv4DmuQwFQ21ZCAk7UCV0qeoh3mF-zvdBnGWnpaGxilf02uM61W-lzqCbl47Uukh8ulVN4UmOYWcHjCyTq6iNoMmJWfxkoU");'
        ></div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Ceviche</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg w-10 shrink-0"
          style='background-image: url("https://ec.viajandox.com/uploads/attractive_1883.jpg");'
        ></div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Tapao Arrecho</h2>
      </div>
      <div class="flex flex-1 gap-3 rounded-lg border border-[#dee3e1] bg-white p-4 items-center">
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg w-10 shrink-0"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCqaMZV9ZrSnvxuJCE_biQORpRvrVh79g5ukB0783hP0c3hIoWhdHjIiYLufYYc8fWsDJRkeQjA4tHgIDS5zIhn4W6t2coN8E8Glx-B5pRP_5zxubg9dVK4C-OPfiQ6oYqnDorLuR3mLfYelYNvJUqDaWtl1TN5dGZ25mlCGwhVDZqxKqznXiv3IB-LZzzZQ7vmmUhy-by7L4WbRPtc4kvDjr9fyOTZ8c_1zfZkKRqx9JXDmeNCmJAFdCGnY3vHBZ5JLdfUHM1ximMF");'
        ></div>
        <h2 class="text-[#131615] text-base font-bold leading-tight">Cazuela de Mariscos</h2>
      </div>
    </div>
  </div>
  <app-menu-inferior></app-menu-inferior>
</div> 