<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="fondo">

  <h1 class="titulo">
    REGISTRARSE
  </h1>

  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="formulario">
  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      [(ngModel)]="username"
      #usernameInput="ngModel"
    />
    <div *ngIf="usernameInput.invalid && usernameInput.touched" style="color:red">
      El usuario es obligatorio.
    </div>
  </div>

 <div>
    <label for="email">Correo:</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      [(ngModel)]="email"
      #emailInput="ngModel"
    />
    <div *ngIf="emailInput.invalid && emailInput.touched" style="color:red">
      INgrese su Correo por favor.
    </div>
  </div>


  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="password"
      #passwordInput="ngModel"
    />
    <div *ngIf="passwordInput.invalid && passwordInput.touched" style="color:red">
      La contraseña es obligatoria.
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
  </form>
</body>
</html>