<body>
    <div class="main-wrapper">
        <div class="main-content">
            <h1>Hola {{nombre}}</h1>

            <h2>
                Bienvenido a
            </h2>
            <h2 class="TextoEsmeraldas">
                ESMERALDAS
            </h2>
            <div class="container">
                <button routerLink="/lugares-turisticos" class="buttonOpcions">
                    <span class="texto-boton">Lugares Turisticos</span>
                    <img src="/assets/city.svg" class="icono-boton">
                </button>
            </div>
            <div class="container">
                <button class="buttonOpcions">
                    Cultura y gastronomía
                    <img src="/assets/cutlery.svg" class="icono-boton">
                </button>
            </div>
            <div class="container">
                <button class="buttonOpcions">
                    Mapa Interactivo
                    <img src="/assets/map-pin.svg" class="icono-boton">
                </button>
            </div>
            <div class="container">
                <button class="buttonOpcions">Servicios y emergencias
                    <img src="/assets/pharmacy-cross-tag.svg" class="icono-boton">
                </button>
            </div>
            <div class="container">
                <button class="buttonOpcions">
                    Eventos y Noticias
                    <img src="/assets/journal-page.svg" class="icono-boton">
                </button>
            </div>
        </div>
        <div class="bottom-navigation">
            <button class="boton-iconos">
                <img src="assets/Inicio.png" alt="Inicio" class="bottom-iconos">
                inicio
            </button>
            <button class="boton-iconos">
                <img src="assets/mapa.png" alt="Inicio" class="bottom-iconos">
                Mapa</button>
            <button class="boton-iconos">
                <img src="assets/usuario.png" alt="Inicio" class="bottom-iconos">
                Perfil</button>
        </div>
    </div>
</body>