<body>
    <div class="main-wrapper">
        <div class="main-content">
            <h1>Hola {{nombre}}</h1>

            <h2>
                Bienvenido a
            </h2>
            <h2 class="TextoEsmeraldas">
             ESMERALDAS
            </h2>
            <div class="container">
                <button routerLink="/lugares-turisticos" class="buttonOpcions">Lugares Turisticos</button>
            </div>
            <div class="container">
                <button class="buttonOpcions">
                    Cultura y gastronomía</button>
            </div>
            <div class="container">
                <button class="buttonOpcions">Mapa Interactivo</button>
            </div>
            <div class="container">
                <button class="buttonOpcions">Servicios y emergencias</button>
            </div>
            <div class="container">
                <button class="buttonOpcions">
                    Eventos y Noticias</button>
            </div>
        </div>
        <div class="bottom-navigation">
            <button class="boton-iconos">
                <img src="assets/Inicio.png" alt="Inicio" class="bottom-iconos">
                inicio
            </button>
            <button class="boton-iconos">
                <img src="assets/mapa.png" alt="Inicio" class="bottom-iconos">
                Mapa</button>
            <button class="boton-iconos">
                <img src="assets/usuario.png" alt="Inicio" class="bottom-iconos">
                Perfil</button>
        </div>
    </div>
</body>