<!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">:
Cuando el usuario envíe el formulario (botón submit), se ejecuta la función onSubmit() en el archivo TypeScript.
La variable local loginForm contiene el estado del formulario (si es válido o no).-->

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  
  <!--Input para colocar el nombre de usaurio-->
    <div>
    <label for="username">Username:</label>
    <input 
    type="text" 
    id="username" 
    name="username" 
    required
    [(ngModel)]="username"
    #usernameInput="ngModel"
    >
    <!---SI el usuario no coloca nada, saltará esta advertencia-->
    <div *ngIf="usernameInput.invalid && usernameInput.touched" style="color:red">
      El usuario es obligatorio.
    </div>
  </div>
  
  <div>
    <label for="password">Password:</label>
    <input 
    type="password" 
    id="password" 
    name="password" 
    required
    [(ngModel)]="password"
    #passwordInput="ngModel"
    >
    <!---SI el usuario no coloca nada, saltará esta advertencia-->
    <div *ngIf="passwordInput.invalid && passwordInput.touched" style="color:red">
      La contraseña es obligatoria.
    </div>
  </div>>
  
  <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
</form>