/* You can add global styles to this file, and also import other style files */
/* Eliminar márgenes y hacer que el fondo se aplique correctamente */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
